<div class="row">
  <p>
  First and foremost, we recommend the <a href="https://software-carpentry.org/lessons/">lessons from Software Carpentry</a> that we followed for this course.  We've added links to those lessons in the syllabus above.
  </p>
  Downloadable etherpad notes (Right click and choose save-as): <a href="https://raw.githubusercontent.com/carpentries-uconn/2020-05-01-UConn-online/gh-pages/code/2020-05-01-UConn-online.html">HTML</a>, <a href="https://github.com/carpentries-uconn/2020-05-01-UConn-online/blob/gh-pages/code/2020-05-01-UConn-online.pdf">PDF</a>, <a href="https://raw.githubusercontent.com/carpentries-uconn/2020-05-01-UConn-online/gh-pages/code/2020-05-01-UConn-online.doc">Word Doc</a>.
  <h3> Plotting in R with ggplot2 </h3>
</div>