<div class="row">
  <p>
  First and foremost, we recommend the <a href="https://software-carpentry.org/lessons/">lessons from Software Carpentry</a> that we followed for this course.  We've added links to those lessons in the syllabus above.
  </p>
  Downloadable etherpad notes (Right click and choose save-as): <a href="https://raw.githubusercontent.com/carpentries-uconn/2020-05-01-UConn-online/gh-pages/code/2020-05-01-UConn-online.html">HTML</a>, <a href="https://github.com/carpentries-uconn/2020-05-01-UConn-online/blob/gh-pages/code/2020-05-01-UConn-online.pdf">PDF</a>, <a href="https://raw.githubusercontent.com/carpentries-uconn/2020-05-01-UConn-online/gh-pages/code/2020-05-01-UConn-online.doc">Word Doc</a>.
  <h3> Plotting in R with ggplot2 </h3>
  <ul>
    <li><strong>General R Help</strong>
      <ul>
        <li><a href="https://rdrr.io/">rdrr.io</a>: Nicely formatted help for functions in R packages.  Easier to read and even lets you run examples in your browser!</li>
        <li><a href="https://www.rstudio.com/resources/cheatsheets/">RStudio Cheatsheets</a>: Especially recommend data wrangling, data visualization, and R markdown.</li>
        <li><a href="http://stackoverflow.com">stackoverflow.com</a>: Great place to ask for or search for help with specific problems.  Many package authors monitor this website.</li>
        <li><a href="http://style.tidyverse.org/">Tidyverse (dplyr, tidyr, ggplot) Style Guide</a>: Write neat readable code</li>
        <li><a href="http://www.cookbook-r.com/">R Cookbook</a>: Online textbook of sorts</li>
      </ul>
    </li>
    <li><strong>Making ggplot2 Graphs</strong>
      <ul>
        <li><a href="http://docs.ggplot2.org/">ggplot2 Online Documentation</a>: Shows all the different geometries/plot types you can add, with examples </li>
        <li><a href="http://www.cookbook-r.com/Graphs/">R Cookbook</a>: Section on graphing</li>
        <li><a href="http://www.sthda.com/english/wiki/ggplot2-essentials">ggplot2 Essentials</a>: This website has a wealth of information on more advanced or complicated graphs</li>
        <li><a href="http://shiny.stat.ubc.ca/r-graph-catalog/">RGraph Catalog</a>: Lots of graph examples with code by another Software Carpentry instructor</li>
        <li><a href="https://evamaerey.github.io/ggplot_flipbook/">GGplot flipbook</a>: Goes line by line constructing a plot andshows what each line does</li>
        <li><a href="https://cran.r-project.org/web/packages/cowplot/vignettes/introduction.html">Cowplot package</a>: A theme and some extra tools (combining graphs) for making publication-ready graphs in ggplot2</li>
      </ul>
    </li>
  <ul>
</div>