<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00</td>  <td>Plotting in R with ggplot2</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:45</td>  <td>Advanced plotting and publication-quality graphs</td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td><a href="{{ site.post_survey }}{{site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
